/* Stylesheet for common components accross the app */

/* Bootstrap Icons css classes */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.white-card{
    background-color: #fff;
    border-radius: 5px;
}

.pagination1{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate-90{
    transform: rotate(90deg);
    color: black;
}

.dialog-mask{
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .2);
}