/* Stylesheet for common components accross the app */

/* Bootstrap Icons css classes */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.white-card{
    background-color: #fff;
    border-radius: 10px;
}

.pagination1{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate-90{
    transform: rotate(90deg);
    color: black;
}

.text-bold{
    font-weight: bold;
}