
.ingredients-row-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr) 0.2fr;
    padding: 5px 20px;
    text-align: center;
    font-weight: semi-bold;
}

.ingredients-row-wrapper:nth-child(1){
    background-color: #f2bb7c;
    background-clip: padding-box;
    font-weight: bolder;
    text-align: center;
    padding: 10px 20px
}

.ingredients-row-wrapper.expiring{
    color:#E5A706
}
.ingredients-row-wrapper.expired{
    color:#847878
}
.ingredients-row-wrapper.expiring-fast{
    color:#DA2E2E
}

.bi-three-dots:hover{
    color: #6c6c6c;
    cursor: pointer;
}

/* allows for absolute positioning to adjust height */
.ingredients-options-wrapper{ 
    position: relative;
    height: 0px;
    width: 0px;
}

.ingredients-options{
    background: white;
    box-shadow: #847878 0px 0px 5px;
    position: absolute;
    padding: 5px 0px;
    right:-10px;
    bottom: -40px;
    z-index: 2;
    border-radius: 5px;
    width: max-content;
    color: black
}

.ingredients-option{
    font-size: 12px;
    padding: 0px 10px;
    text-align: left;
}

.ingredients-option:hover{
    background-color: #b7b2b2;
    cursor: pointer;
}

.dialog-mask{
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.dialog-card{
    background-color: #F9E4CC;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: fit-content;
    z-index: 11;
    position: absolute;
    left:50%; 
    top:50%; 
    transform: translate(-50%, -50%)
}

.x-button{
    position: absolute;
    right: 12px;
    top: 7px;
    cursor: pointer;
}
