.App {
  display: flex;
  width: 100%;
  align-items: stretch;
  height: 100%;
  overflow: auto;
}

body {
  /*font-family: 'Poppins', sans-serif;*/
  font-family: "Nunito Sans", sans-serif;
  /*background: #fafafa;*/
  background-color: #f5f9fc;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #ffffff;
  color: #adb5bd;
  margin-left: -250px;
  transition: all 0.5s;
  min-height: 100%;
  /* position: fixed; */
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #ffffff;
  color: #000000;
}

.sidebar-header h3 {
  color: #000000;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.logout_box {
  position: absolute;
  bottom: 0px;
  margin-left: 70px;
  margin-bottom: 10px;
}

.collapse.show,
.collapsing {
  background: #313b4c;
}

.nav-item {
  /* color: #ced4da; */
  color: #adb5bd !important;
  font-weight: 300;
  text-decoration: none;
  margin-left: 2%;
}

.nav-item.open {
  color: #e9ecef;
  background: #ffffff;
}

.nav-item.active {
  color: #000000;
  background: #f9e4cc !important;
  width: 90%;
  border-radius: 10px;
  margin-left: 2%;
}

.nav-item:hover {
  background: #fff6ec;
  color: #fff;
  transition: 0.2s;
  width: 90%;
  border-radius: 10px;
}

.nav-item .svg-inline--fa {
  color: inherit;
}

.nav-link {
  color: #000 !important;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > button {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  /* padding: 20px; */
  margin-left: 0;
  height: 100vh;
  max-width: 80%;
  position: relative;
}

@media only screen and (max-width: 575.98px) {
  body {
    overflow: hidden;
  }

  .content.is-open {
    /* margin-left: 100%; */
    display: none;
    transition: all 0.5s;
    padding-left: 250px;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
    height: 100vh !important;
  }

  .sidebar.is-open > .sidebar-header button {
    display: block;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}
